@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.presetTransition {
  /* useful transition to have on clickable elements */
  @apply transition-transform transform duration-300;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/fonts/Aeonik-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url('/fonts/Aeonik-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: #141414;
  color: var(--off-white);
  font-family: 'Aeonik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-image: url('/StarBackgroundMuted.svg');
  background-attachment: fixed;
}

.grayscale {
  filter: grayscale(100%);
  opacity: 0.7;
}
.nograyscale {
  filter: grayscale(0%);
  opacity: 1;
}

.button {
  left: 50px;
  top: 857px;
  border: 1px solid var(--off-white);
  box-sizing: border-box;
  border-radius: 46px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* this is for the /careers page */
/* needs to be in CSS since it loads async */
.lever-job-title {
  color: #90cdf4 !important;
}
.lever-job-tag {
  color: var(--off-white) !important;
}
#lever-jobs-container {
  color: white !important;
}

/* temporal design colors https://www.notion.so/temporalio/Color-Palette-62829d945d30440eaffd410dbbb6689f */
html {
  /* primary */
  --space-black: #141414;
  --off-white: #f2f2f2;
  /* secondary */
  --temporal-blue: #c7edef;
  --temporal-purple: #b8b4dc;
  --bright-blue: #127ae5;
  --bright-purple: #8f86da;
  --scroll-white: hsla(0, 0%, 90%, 0.5);
  /* accents */
  --green-1: #9ee587;
  --green-2: #32d67b;
  --orange-1: #ffa280;
  --orange-2: #ff7065;
}

/*
  CUSTOM SCROLLBARS! https://css-tricks.com/the-current-state-of-styling-scrollbars/
  */
body::-webkit-scrollbar-track {
  background-color: var(--space-black);
}
body::-webkit-scrollbar {
  width: clamp(5px, 1vw, 20px);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--temporal-blue), var(--scroll-white));
  border-radius: 2px;
}
