@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.presetTransition {
  /* useful transition to have on clickable elements */
  @apply transition-transform transform duration-300;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/fonts/Aeonik-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url('/fonts/Aeonik-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #141414;
  color: #f2f2f2;
  font-family: 'Aeonik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-image: url('/StarBackgroundMuted.svg');
  background-attachment: fixed;
}

.grayscale {
  mix-blend-mode: luminosity;
  opacity: 0.5;
}
.nograyscale {
  mix-blend-mode: normal;
  opacity: 1;
}

.button {
  left: 50px;
  top: 857px;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 46px;
  padding: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* this is for the /careers page */
/* needs to be in CSS since it loads async */
.lever-job-title {
  color: #90cdf4 !important;
}
.lever-job-tag {
  color: #f2f2f2 !important;
}
#lever-jobs-container {
  color: white !important;
}
