@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.presetTransition {
  /* useful transition to have on clickable elements */
  @apply transition-transform transform duration-300;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

@layer utilities {
  .transform-3d {
    transform-style: preserve-3d;
  }
  .perspective {
    perspective: 800px;
  }
}

@layer components {
  .btn-primary {
    @apply transition rounded-full w-300 h-60 md:w-200 flex items-center justify-center lg:w-300 text-spaceblack bg-temporalblue hover:text-temporalblue hover:bg-spaceblack border border-temporalblue;
  }
  .btn-secondary {
    @apply transition rounded-full w-300 h-60 md:w-200 flex items-center justify-center lg:w-300 border hover:bg-white hover:text-spaceblack;
  }
  .nav-link {
    @apply hover:text-temporalblue transition-colors relative;
  }
  .dir-control {
    @apply w-300 h-60 md:w-200 lg:w-300 transition-all border-2 no-underline outline-none rounded-full text-center cursor-pointer font-bold relative flex items-center justify-center;
  }
}

.case-study--active {
  --tw-grayscale: grayscale(0);
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}
.case-study__tabs {
  transform: translate3d(calc(var(--x, 0) * 1px), calc(var(--y, 0) * 1px), 40px)
    rotateY(calc(var(--x, 0) * 1deg)) rotate(calc(var(--x, 0) * 0.25deg));
}

.dir-control {
  --buttonColor: var(--temporal-blue);
  --backdrop: var(--temporal-blue);
  --slideColor: var(--space-black);
  --bg: var(--temporal-blue);
  --borderWidth: 2;
  --textColor: var(--space-black);
  border-color: var(--buttonColor, var(--bg));
  color: var(--textColor, var(--buttonColor));
  background: var(--backdrop);
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
}

.dir-control:hover {
  --y: -5;
  --scale: 1.05;
}

.dir-control:active {
  --y: 0;
  --scale: 0.95;
}

.dir-control span {
  clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  left: calc(var(--borderWidth) * -1px);
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
}

.dir-control span:nth-of-type(1):hover,
.dir-control span:nth-of-type(2):hover,
.dir-control span:nth-of-type(3):hover,
.dir-control span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}

.dir-control span:nth-of-type(1):hover ~ b:nth-of-type(1),
.dir-control span:nth-of-type(2):hover ~ b:nth-of-type(2),
.dir-control span:nth-of-type(3):hover ~ b:nth-of-type(3),
.dir-control span:nth-of-type(4):hover ~ b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
}

.dir-control span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}
.dir-control span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
}
.dir-control span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
}
.dir-control span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
}

.dir-control b {
  background: var(--slideColor, var(--buttonColor));
  border-color: var(--buttonColor, var(--bg));
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  color: var(--bg, var(--off-white));
  left: calc(var(--borderWidth) * -1px);
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
}

.dir-control b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
}
.dir-control b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
}
.dir-control b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
}
.dir-control b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
}

.dir-control--secondary {
  --bg: var(--space-black);
  --backdrop: transparent;
  --buttonColor: var(--off-white);
  --slideColor: var(--off-white);
  --textColor: var(--off-white);
}

/* Nav link pseudos */
.nav-link:hover {
  --nav-scale: 1;
}
.nav-link:after,
.nav-link:before {
  content: '';
  width: 100%;
  position: absolute;
  transition: transform 150ms;
  height: 2px;
  background: var(--temporal-blue);
  transform: scale(var(--nav-scale, 0));
}

.nav-link:after {
  bottom: 100%;
  left: 0;
  transform-origin: 0 50%;
}

.nav-link:before {
  top: calc(100% + 2px);
  right: 0;
  transform-origin: 100% 50%;
}

/* Stacker Cards */
.stack:before,
.stack:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--space-black);
  border: 2px solid var(--off-white);
  top: 0;
  left: 0;
  z-index: -1;
}

.stack:hover {
  --expand: 1;
}

.stack:after {
  transform: translate(calc(var(--expand) * -2%), calc(var(--expand) * -2%));
}

.stack__content {
  transform: translate(calc(var(--expand) * -4%), calc(var(--expand) * -4%));
}

/* Your own custom utilities */
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('/fonts/Aeonik-Bold.woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik-Light';
  src: url('/fonts/Aeonik-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: #141414;
  color: var(--off-white);
  font-family: 'Aeonik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-image: url('/StarBackgroundMuted.svg');
  background-attachment: fixed;
}

/* this is for the /careers page */
/* needs to be in CSS since it loads async */
.lever-job-title {
  color: #90cdf4 !important;
}
.lever-job-tag {
  color: var(--off-white) !important;
}
#lever-jobs-container {
  color: white !important;
}

/* temporal design colors https://www.notion.so/temporalio/Color-Palette-62829d945d30440eaffd410dbbb6689f */
html {
  /* primary */
  --space-black: #141414;
  --off-white: #f2f2f2;
  /* secondary */
  --temporal-blue: #c7edef;
  --temporal-purple: #b8b4dc;
  --bright-blue: #127ae5;
  --bright-purple: #8f86da;
  --scroll-white: hsla(0, 0%, 90%, 0.5);
  /* accents */
  --green-1: #9ee587;
  --green-2: #32d67b;
  --orange-1: #ffa280;
  --orange-2: #ff7065;
}

/*
  CUSTOM SCROLLBARS! https://css-tricks.com/the-current-state-of-styling-scrollbars/
  */
body::-webkit-scrollbar-track {
  background-color: var(--space-black);
}
body::-webkit-scrollbar {
  width: clamp(5px, 1vw, 20px);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--temporal-blue), var(--scroll-white));
  border-radius: 2px;
}
